.page {
  padding: 2rem;
  font-family: var(--font-inter), sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  h1 {
    font-size: 2rem;
  }
}

.status {
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  color: white;
  font-weight: 500;

  &.pending {
    background-color: #ffb74d; // orange
  }

  &.approved {
    background-color: #81c784; // green
  }

  &.rejected {
    background-color: #e57373; // red
  }
} 