// Backgrounds
$bg-primary: #F4F4F4;
$bg-secondary: #FFFFFF;

// Brand Colors
$brand-primary: #094B9C;
$brand-secondary: #0369A1;
$brand-sky: #5392CC;
$brand-dark-gray: #455A64;
$brand-medium-gray: #767676;

// Optional Aliases (if needed in utilities)
$color-light: $bg-secondary;
$color-dark: $brand-dark-gray;
$color-accent: $brand-sky;
