// Background Colors
$backgrounds-primary: #F4F4F4;
$backgrounds-secondary: #FFFFFF;

// Brand Colors
$brand-primary: #094B9C;
$brand-secondary: #0369A1;
$brand-sky: #5392CC;
$brand-dark-gray: #455A64;
$brand-medium-gray: #767676;


$navbar-gray-light: #1F2937;
$navbar-gray-dark: #111827;